@page "/CompanyGroup"

@inherits CompanyGroupListBase



<style>
    .custom-table {
        width: 100%;
        border-collapse: collapse !important;
        border: 1px solid #ccc;
    }

    .editable-highlight {
        background-color: #f3f3f3;
    }

    .custom-table button {
        border: none;
        background: transparent;
    }

    .custom-table th, .custom-table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

</style>


<table id="company-group-table" class="custom-table">
    <thead>
        <tr>
            <th>Code</th>
            <th>GroupName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in CompanyGroups)
        {
            <tr class="company-group-row">
                <td class="group-id">@group.Id</td>
                <td class="group-name" data-group-id="@group.Id">@group.GroupName</td>
                <td>
                    <button class="edit-button" data-id="@group.Id">
                        <img src="/images/edit-icon.png" title="Edit" style="height: 17px; width: 18px; border: none;" />
                    </button>


                    <button class="delete-button" data-id="@group.Id">
                        <img src="/images/delete-icon.png" title="Delete" style="height: 17px; width: 18px; border: none;" />
                    </button>
                    <button class="save-button" data-id="@group.Id" style="display:none;">
                        <img src="/images/save-icon.png" title="Save" style="height: 17px; width: 18px; border: none;" />
                    </button>
                    <button class="cancel-button" data-id="@group.Id" style="display:none;">
                        <img src="/images/cancel-icon.jpg" title="Cancel" style="height: 25px; width: 26px; border: none;" />
                    </button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="company-group-row">
            <td></td>
            <td>
                <input type="text" class="form-control" id="new-group-name" placeholder="New Group Name" />
            </td>
            <td>
                <button class="add-new-button">
                    <img src="/images/add-icon.png" title="Add New" style="height: 17px; width: 18px; border: none;" />
                </button>
            </td>
        </tr>
    </tfoot>
</table>
